VITE_SUPABASE_URL=https://hcigyurwuunaobgfkkdw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjaWd5dXJ3dXVuYW9iZ2Zra2R3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0ODY3ODUsImV4cCI6MjEwNTA2Mjc4NX0.h1L1b2kUZI6yHKTu07HzwR7f6R-y2uXYVLBim5VvSS8
